* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

a {
    color: #000000;
    text-decoration: none;
}

.debugger {
    border: 1px solid red;
}

.header-top {
    display: inline-block;
    width: 100%;
}

.logo {
    float: left;
    width: 150px;
    height: 150px;
}

.logo img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.strip {
    background-color: royalblue;
    width: 100%;
    height: 100px;
    margin-top: 25px;
    z-index: -1;
}
.strip a {
    position: absolute;
    right: 20px;
    color:white;
    font-size: 20px;
    font-weight: 400;
    line-height: 100px;
}

hr {
    border: 1px solid gainsboro;
}

.news-container {
    display: inline-block;
    width: 100%;
    padding: 20px 0;
}

.news-container .news-container-data {
    margin: 0 auto;
    width: 70%;
    border: 1px solid royalblue;
    border-radius: 0.5rem;
    padding: 20px 20px;
}

.news-container .news-container-data .news-holder {
    border-bottom: 1px solid gainsboro;
    margin: 10px 0;
    padding: 10px 0;
}

.news-container .news-container-data .news-holder:last-child {
    border: none;
}

.news-container .news-container-data .news-holder .title {
    font-size: 24px;
    font-weight: 600;
    overflow: hidden;
}

.news-container .news-container-data .news-holder .publish {
    font-size: 14px;
    color:#666464;
}

.news-container .news-container-data .news-holder .context {
    font-size: 18px;
    margin: 10px 0;
}

.news-container .news-container-data .news-holder .comment-count img {
    width: 18px;
}

.news-container .news-container-data .news-holder .response {
    display: inline-block;
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid gainsboro;
}

.news-container .news-container-data .news-holder .response input[type=text] {
    display: none;
}

.news-container .news-container-data .news-holder .response input[type=submit] {
    width: 100px;
    height: 87px;
    position: absolute;
    cursor: pointer;
}

.news-container .news-container-data .news-holder .response span {
    width: 100%;
    float: left;
    position: relative;
    color: crimson;
}

.news-container .news-container-data .news-holder .response textarea {
    border: 1px solid gainsboro;    
    width: 80%;
    height: 75px;
    font-size: 16px;
    padding: 5px 0;
}

.news-container .news-container-data .news-holder .comment-holder {
    display: inline-block;
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid gainsboro;
}

.news-container .news-container-data .news-holder .comment-holder img {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.news-container .news-container-data .news-holder .comment-context {
    float: left;
    padding: 0 0 0 20px;
    width: 90%;
    height: auto;
}

.news-container .news-container-data .news-holder .comment-context-other {
    margin-top: 10px;
    display: inline-block;
    width: 100%;
}

.news-container .news-container-data .news-holder .comment-context-other ul{
    display: inline-block;
    width: 100%;
}

.news-container .news-container-data .news-holder .comment-context-other ul li {
    float: left;
    list-style: none;
    font-size: 12px;
    width: 50%;
}

.news-container .news-container-data .news-holder .comment-context-other ul li:last-child {
    text-align: right;
}

.news-container .admin-news-container-data {
    display: flex;
    margin: 0 auto;
    width: 90%;
    border: 1px solid royalblue;
    border-radius: 0.5rem;
    padding: 20px 20px;
}

.news-container .admin-news-container-data .side-menu {
    float: left;
    width: 15%;
    padding: 5px 5px;
    border: 1px solid gainsboro;
}

.news-container .admin-news-container-data .side-menu ul{
    display: inline-block;
    width: 100%;
}

.news-container .admin-news-container-data .side-menu ul li{
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid gainsboro;
}

.news-container .admin-news-container-data .side-menu ul li:last-child {
    border-bottom: none;
}

.news-container .admin-news-container-data .side-menu ul li a {
    display: inline-block;
    width: 100%;
}

.news-container .admin-news-container-data .table-holder {
    float: left;
    width: 83%;
    padding: 20px 20px;
    border: 1px solid gainsboro;
    margin-left: 2%;
}

.news-container .admin-news-container-data .table-holder .table-head {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid gainsboro;
}

.news-container .admin-news-container-data .table-holder .table-head ul{
    display: inline-block;
    width: 100%;
}

.news-container .admin-news-container-data .table-holder .table-head ul li{
    float: left;
    width: 90%;
    font-size: 24px;
    list-style: none;
    height: auto;
}

.news-container .admin-news-container-data .table-holder .table-head ul li:last-child {
    width: 10%;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
}

.news-container .admin-news-container-data .table-holder .table-data {
    display: inline-block;
    width: 100%;
    padding: 10px 0;
}

.news-container .admin-news-container-data .table-holder .table-data ul{
    display: inline-block;
    width: 100%;
}

.news-container .admin-news-container-data .table-holder .table-data ul li {
    float: left;
    width: 20%;
    font-size: 16px;
    list-style: none;
    height: 50px;
    border-bottom: 1px solid gainsboro;
    overflow: hidden;
}

.news-container .admin-news-container-data .table-holder .table-data ul li input[type=submit]{
    float: left;
    background-color: gainsboro;
    border: 1px solid gainsboro;
    padding: 0 3px;
    margin-left: 10px;
}

.news-container .admin-news-container-data .table-holder .table-data ul li:nth-child(3) {
    width: 47%;
}

.news-container .admin-news-container-data .table-holder .table-data ul li:nth-child(4) {
    text-align: center;
    width: 13%;
}

.news-container .admin-news-container-data .table-holder .table-data .form-title {
    float: left;
    width: 100%;
}

.news-container .admin-news-container-data .table-holder .table-data input[type=text] {
    margin-bottom: 10px;
    float: left;
    width: 100%;
    padding: 5px 0;
}

.news-container .admin-news-container-data .table-holder .table-data textarea {
    float: left;
    width: 100%;
    padding: 5px 0;
}

.news-container .admin-news-container-data .table-holder .table-data input[type=submit] {
    margin-top: 10px;
    float: left;
    padding: 5px 5px;
}

.news-container .admin-news-container-data .table-holder .table-data span {
    float: left;
    width: 100%;
    color: red;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .logo {
        width: 100px;
        height: 100px;
    }
    
    .logo img {
        width: 100px;
        height: 100px;
    }
    
    .strip {
        height: 75px;
        margin-top: 12.5px;
    }
    
    .strip a {
        font-size: 16px;
        line-height: 75px;
    }
    
    .news-container {
        padding: 10px 0;
    }

    .news-container .news-container-data {
        padding: 10px 10px;
    }

    .news-container .news-container-data .news-holder .title {
        font-size: 20px;
    }

    .news-container .news-container-data .news-holder .publish {
        font-size: 12px;
    }

    .news-container .news-container-data .news-holder .context {
        font-size: 16px;
    }

    .news-container .news-container-data .news-holder .comment-count img {
        width: 16px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .logo {
        width: 75px;
        height: 75px;
    }
    
    .logo img {
        width: 75px;
        height: 75px;
    }
    
    .strip {
        height: 50px;
        margin-top: 12.5px;
    }
    
    .strip a {
        font-size: 14px;
        line-height: 50px;
    }
    
    .news-container {
        padding: 10px 0;
    }

    .news-container .news-container-data {        
        width: 90%;
        padding: 10px 10px;
    }

    .news-container .news-container-data .news-holder .title {
        font-size: 18px;
    }

    .news-container .news-container-data .news-holder .publish {
        font-size: 12px;
    }

    .news-container .news-container-data .news-holder .context {
        font-size: 14px;
    }

    .news-container .news-container-data .news-holder .comment-count img {
        width: 14px;
    }

    .news-container .news-container-data .news-holder .response {
        height: 200px;
        position: relative;
    }
    
    .news-container .news-container-data .news-holder .response input[type=submit] {
        width: 100%;
        margin-top: 25px;
        position: absolute;
        left: 0;
    }

    .news-container .news-container-data .news-holder .response textarea {
        width: 100%;
    }
}
